{% extends 'base.html.twig' %} 

{% block body %}
<div class="containerhello d-flex justify-content-center">
    <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes Formations</div>
</div>
<div class="containerformation w-50 pb-3">
    <div class="title fs-3">Formation</div>
    <div class="formationcontent">
        <h3>WAB - Le digital coopératif</h3>
        <p>Creation et gestion d’une page Facebook pour une entreprise<br>
            Eyesines,France 3 Mois</p>
            <p>2021-2022</p>
        <h3>CFA Orléans Métropole</h3>
        <p>BaC Pro Commerce</p>
        <p>2013-2015</p>
        <h3>CFA Orléans Métropole</h3>
        <p>CAP Vente</p>
        <p>CFA Orléans Métropole</p>
    </div>
{% endblock %}