{% extends 'base.html.twig' %}

    {% block body %}
    <div class="containerhello d-flex justify-content-center">
        <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes Formations</div>
    </div>
{% include "components/_cardforformation.html.twig" %}
{% endblock %}