{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper text-center">
		<h1>Hello wilder !!✅</h1>

		This friendly message is coming from:
		<ul>
			<a href="{{ path("app_logout") }}">Disconnect</a>
		</ul>
		
	</div>
{% endblock %}
