{% extends 'base.html.twig' %} 

{% block body %}
<div class="containerhello d-flex justify-content-center">
    <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes Compétences</div>
</div>
<div class="containercompetence w-50 pb-3">
    <div class="title fs-3">Compétences</div>
    <div class="competencecontent">
        <h3>PHP</h3>
        <h3>Symfony</h3>
        <h3>CFA Orléans Métropole</h3>
        <h3>Photoshop</h3>
        <h3>MYSQL</h3>
        <h3>Google Sheet</h3>
        <h3>Figma</h3>
        <h3>JAVASCRIPT</h3>
        <h3>FinalCut</h3>
        <h3>HTML & CSS (bootstrap, Tailwind..)</h3>
    </div>
{% endblock %}
