{% extends 'base.html.twig' %} 

{% block body %}
<div class="containerhello d-flex justify-content-center">
    <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes Hobbies</div>
</div>
<div class="containerhobbie w-50 pb-3">
    <div class="title fs-3">Hobbies</div>
    <div class="hobbiecontent">
        <h3>Informatique(dev..)</h3>
        <h3>Musique.. passion</h3>
        <h3>Series TV, Netflix GOAT</h3>
{% endblock %}