{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="container">
    <h4>Bienvenue au sein de l'administration de ton portfolio Thyphen</h4>
    <div class="d-flex">
    <div class="containerprofiladmin justify-content-center m-auto">
    <iframe class="singe mt-5" src="https://gifer.com/embed/oNk" width=480 height=480></iframe>
    </div>
</div>
</div>

{% endblock content %}



