{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="row d-flex justify-content-center align-items-center m-auto">
<div class="container">
    <h4 class="fw-bold m-auto">Bienvenue au sein de l'administration de ton portfolio Thyphen</h4> 
    <div class="image">
    <iframe class="singe mt-5" src="https://gifer.com/embed/oNk" width=480 height=480></iframe>
    </div>
</div>
</div>


{% endblock content %}



