.container {
    width: 300px;
    position: relative;


    .img {
      object-fit: cover;
    }

    .header {
      margin: 0 auto;
      text-align: center;
      h1 {
        color: #fff;
        font-weight: 900;
      }
      p {
        color: #fff;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .card {
      position: relative;
      margin-left: 9px;
      margin-right: 9px;
      .face {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: 200px;
        transition: 0.5s;
        border-radius: 12px;
        &.face1 {
          position: relative;
          background: #333;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          transform: translateY(100px);
        }
      }
      &:hover .face.face1 {
        transform: translateY(0);
        background-image: linear-gradient(to left bottom, #4c9edd, #1186bc, #61aefb, #0095f9, #01a6ff);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
      }
      .face.face1 .content {
        opacity: 0.8;
        transition: 0.5s;
      }
      &:hover .face.face1 .content {
        opacity: 1;
      }
      .face {
        &.face1 .content {
          img {
            max-width: 60px;
          }
          h3 {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
            text-align: center;
            font-size: 1.5em;
          }
        }
        &.face2 {
          position: relative;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          box-sizing: border-box;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
          transform: translateY(-100px);
        }
      }
      &:hover .face.face2 {
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .face.face2 {
        p {
          margin: 0;
          padding: 0;
        }
        a {
          margin: 15px 0 0;
          display: inline-block;
          text-decoration: none;
          font-weight: 900;
          color: #333;
          padding: 5px;
          border: 1px solid #333;
          &:hover {
            background: #333;
            color: #fff;
          }
        }
      }
    }
  }
  