   <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
   <footer class="my-footer text-center bg-secondary mt-5" style="opacity: 0.9;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4">
      <div class="rounded-social-buttons">
        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="social-button twitter ms-5" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a class="social-button linkedin ms-5 " href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a class="social-button youtube ms-5" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
        <a class="social-button instagram ms-5" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    </section>
  </footer>