<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Thyphen's Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
        <ul class="navbar-nav d-flex">
          <li class="nav-item p-2">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="#">Expériences</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="#">Formations</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="#">Compétences</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link" href="#">Hobbies</a>
        </li>
        
        <li class="nav-item p-2">
          {% if is_granted('ROLE_ADMIN') %}
          <a class="nav-link" href="{{ path('app_admin') }}" class="text-primary fw-bold text-decoration-none p-2">Admin</a>
          {% else %}
          {% endif %}
        </li>
      </ul>
      </div>