<div class="row">
    <div class="col-lg-3 mt-1 cardpresentation">
      <div class="card">
        <div class="card-body bg-primary">
          <h5 class="card-title pt-1">Présentation en bref</h5>
          <p class="card-text fw-bold text-intermediate">Je suis un développeur PHP ayant suivi une formation de 5 mois en développement web á la Wild Code School
             et une formation de 3 mois en marketing digital á la Forma'School. Je suis capable de développer des applications web en utilisant le langage PHP et son framework Symfony
              et j'ai également des connaissances en marketing numérique pour promouvoir les produits développés.
              Pour en savoir plus sur mes expériences et projets antérieurs, veuillez consulter la page suivante.
              En septembre, je commencerais une formation en conception d'interface utilisateur (UI/UX) à la Wild Code School 
              afin d'étendre mes compétences en design.</p>
          <a href="/experience" class="btn btn-secondary btndecouvrir">Découvrir mes expériences</a>
        </div>
      </div>
    </div>