{% extends 'base.html.twig' %}

    {% block body %}
    <div class="containerhello d-flex justify-content-center">
        <div class="title fs-1 fw-bold">Bienvenue sur mes Expériences</div>
    </div>
{% include "components/_cardforexperience.html.twig" %}
{% endblock %}