{% extends 'base.html.twig' %} {% block body %}
<div class="containerhello d-flex justify-content-center">
    <div class="title fs-1 fw-bold pt-3">Bienvenue sur mes experiences</div>
</div>
<div class="containerexperience w-50 pb-3">
    <div class="title fs-3">Experiences</div>
    <div class="experiencecontent">
        <h3>Wild Code School</h3>
        <p>Développeur Web et Web Mobile (équivalent Bac+2)<br>
            Orléans, France 5 Mois</p>
        <ul>
            <li>Projet CV perso fictif via Git)</li>
            <li>Capture the flag</li>
            <li>Projet de refonte de site web</li>
            <li>PHP - POO - PDO - TWIG</li>
            <li>Projet complet pour un client réel</li>
            <li>Hackathon - consommation d'une API</li>
            <li>Scrum - méthode Agile</li>
            <li>Simple MVC/Symfony</li>
            <li>Dojo - Kata</li>
            <li>Wireframe - maquette Fiama</li>
            <li>Workflow Git/GitHub</li>
        </ul>
        <h3>Forma School</h3>
        <p>Eysines, France 3 Mois</p>
        <ul>
            <li>Ventes et marketing</li>
            <li>Campagnes d'emailing</li>
            <li>Gestion d'affiliation</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Stratégie Marketing</li>
            <li>Klaviyo</li>
            <li>SMS Bump</li>
    </div>
    {% endblock %}